h2{
    color: brown;
    text-align: center;
}

header>p{
    margin-left: 20px;
}

section{
    background-color: lightsalmon;
}

form{
    color: black;
    padding-bottom: 20px;
    padding-left: 20px;
}

form>label{
    color: blue;
}

input[type="radio"],
input[type="checkbox"] {
    accent-color: initial;
}/*form 안에 선택 버튼은 색을 없애고 싶은데*/

textarea{
    display:  inline-block;
    width: 400px;
    height: 150px;
}
/*글 박스 어케 키움*/

footer{
    margin-top: 20px;
    border-radius: 15px;
    background-color: orange;
}